{% extends "base.html" %}

{% block title %} Contact Information {% endblock title %}

{% block content %}

    <h2><strong>Full Name</strong></h2>
    <br>
        <h3>Romeo Alipio Sanchez Dasigan</h3>

    <br>
    <h2><strong>Address</strong></h2>
    <br>
    <h3>86-2 Bagumbayan Sur Naga City, Camarines Sur</h3>


    <h2><strong>Email</strong></h2>
    <br>
    <h3>dasiganromeo@gmail.com</h3>

    <h2><strong>Mobile Number</strong></h2>
    <br>
    <h3>09151486522</h3>

{% endblock content %}
