{% extends "base.html" %}

{% block title %} Resume {% endblock title %}

{% block content %}

    <h2><strong>Education</strong></h2>
    <br>
        <h3>-Senior High School: Camarines Sur National High School</h3>
        <h3>-Junior High School: Camarines Sur National High School</h3>
        <h3>-Elementary: Abcede Elementary School</h3>
    <br>
    <h2><strong>Affiliation</strong></h2>
    <br>
    <h3>-Technical Livelihood Club </h3>
    <h3>-Information and Communications Club</h3>

    <h2><strong>Skills and Training</strong></h2>
    <br>
    <h3>-Adaptibility</h3>
    <h3>-Empathy</h3>
    
{% endblock content %}
